# Development ENV variables
# The first non-empty key from the mapping is used
MODE=development
ACCESS_KEY=TOKEN
APP_URL=http://localhost:5173/
REAL_APP_URL=URL
REST_PATH=rest
USER_UUID=UUID
SUBJECT_UUID=UUID
USER_LOGIN=LOGIN